<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Screen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="axios.js" defer></script>

</head>

<body>

    <main>
        <video class="video-screen" id="remoteVideo" autoplay>
        </video>
    </main>
    <script src="viewer.js" defer></script>
</body>

</html>